name: "auto-context"
on:
  schedule:
  # Update context.tf nightly
  - cron:  '0 3 * * *'

jobs:
  update:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        curl -Lo ./terraform-docs.tar.gz https://github.com/terraform-docs/terraform-docs/releases/download/v0.15.0/terraform-docs-v0.15.0-$(uname)-amd64.tar.gz
        tar -xzf terraform-docs.tar.gz terraform-docs
        rm -f terraform-docs.tar.gz
        chmod +x terraform-docs
        sudo mv terraform-docs /usr/bin/

    - name: Update context.tf
      shell: bash
      id: update
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
      run: |
        if [[ -f context.tf ]]; then
          echo "Discovered existing context.tf! Fetching most recent version to see if there is an update."
          curl -o context.tf -fsSL https://raw.githubusercontent.com/cloudposse/terraform-null-label/master/exports/context.tf
          if git diff --no-patch --exit-code context.tf; then
            echo "No changes detected! Exiting the job..."
          else
            echo "context.tf file has changed. Update examples and rebuild README.md."
            tmp_file=$(mktemp)
            terraform-docs --lockfile=false markdown ./ > "$tmp_file"
            perl -i -ne 'if (/BEGINNING OF PRE-COMMIT-TERRAFORM DOCS HOOK/../END OF PRE-COMMIT-TERRAFORM DOCS HOOK/) { print $_ if /BEGINNING OF PRE-COMMIT-TERRAFORM DOCS HOOK/; print "I_WANT_TO_BE_REPLACED\n$_" if /END OF PRE-COMMIT-TERRAFORM DOCS HOOK/;} else { print $_ }' "README.md"
            perl -i -e 'open(F, "'"$tmp_file"'"); $f = join "", <F>; while(<>){if (/I_WANT_TO_BE_REPLACED/) {print $f} else {print $_};}' "README.md"
            rm -f "$tmp_file"
            echo "::set-output name=create_pull_request::true"
          fi
        else
          echo "This module has not yet been updated to support the context.tf pattern! Please update in order to support automatic updates."
        fi

    - name: Create Pull Request
      if: steps.update.outputs.create_pull_request == 'true'
      uses: cloudposse/actions/github/create-pull-request@0.30.0
      with:
        token: ${{ secrets.PUBLIC_REPO_ACCESS_TOKEN }}
        committer: 'hansohnbot <82293428+hansohnbot@users.noreply.github.com>'
        author: 'hansohnbot <82293428+hansohnbot@users.noreply.github.com>'
        commit-message: Update context.tf from origin source
        title: Update context.tf
        body: |-
          ## what
          This is an auto-generated PR that updates the `context.tf` file to the latest version from `cloudposse/terraform-null-label`

          ## why
          To support all the features of the `context` interface.

        branch: auto-update/context.tf
        base: main
        delete-branch: true
        labels: |
          auto-update
          context
